# IDE
.idea

# Virtual environment
.venv

# OS
.DS_Store

# Python cache
__pycache__
*.pyc

# Database
/instance

# Local files (not for repo)
all_project_code.txt
pref_vers_all_project_code.txt
scripts/collect_code.py
docs/ideas.md


*.md